<div class="profile-container">
    <img src="/assets/profile-picture.png" alt="foto de perfil de Dionys Seidel"/>
    <div>
        <h1>Dionys Seidel</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="header-tercer-col">
    <p>dionysseidel@gmail.com | +54 9 11 7154-3189 | <a href="https://www.linkedin.com/in/dionysseidel/">LinkedIn</a></p>
    <p>Posadas, ARG</p>
    <button id="visita-companerx-btn" onclick="reemplazarContenido()">Visita a mi compañerx</button> 
</div>

<script>
    function reemplazarContenido() {
        window.location.href = '/brian.php';
}
</script>