<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Continente sociologico</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../css/article.css">
</head>
<body>
    <nav class="navbar">
        
        <div class="logo">
            <a href="/index.html">
            <img src="/media/logo.png">
            </a>
        </div>

        <div class="nav-items">
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-regular fa-newspaper"></i>Entrevistas
                </button>
                <div class="dropdown-content">
                    <a href="/templates/ruthsautu.html">Ruth Sautu</a>
                    <a href="/templates/cantazaro.html">Gisela Catanzaro</a>
                    <a href="/templates/aliciagutierrez.html">Alicia Gutiérrez</a>
                    <a href="/templates/alliaud.html">Andrea Alliaud</a>
                    <a href="/templates/aguilera.html">Antonio Aguilera Ontiveros</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-video"></i>Videos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/bourdieu.html">Alvaro García Linera</a>
                    <a href="/templates/feminismo.html">Feminismo</a>
                    <a href="/templates/pioneras.html">Pioneras</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-list-ul"></i>Encuesta y Trivias
                </button>
                <div class="dropdown-content">
                    <a href="/templates/encuesta.html">Encuesta</a>
                    <a href="/templates/trivia.html">Trivia</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-person-dress"></i>Sociólogas
                </button>
                <div class="dropdown-content">
                    <a href="/templates/sociologas.html">De ayer y hoy</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-book"></i>Artículos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/articulo1.html">S. de la Educación</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-diagram-project"></i>Proyectos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/proyecto.html">Observatorio de Género</a>
                </div>
            </div>
        </div>

       
    </nav>
    <header class="hero">
        <div class="textos-hero">
            <a style="background: 0;">
                <h1>Continente Sociologico</h1>
            </a>
            <a class="btn btn- btn-outline-primary" href="#contacto">Contactanos</a>
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C232.78,193.92 368.22,-89.28 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </header>


    <article class="article">
        <header >
            <h1 class="titulo">Transformaciones en las instituciones escolares contemporáneas y nuevas
                subjetividades</h1>
                <p class="meta">Por:
                    <span>Claudia Romero</span>
                    <br>
                    <span>Lorenzo Ferreyra</span>
                    <br>    
                    <span>Emanuel Gagnolo</span>
                </p>
                <br>
                <br>
                <br>
                
                <p class="parrafos">
                    La escuela contemporánea es un espacio complejo de interacción social y
                    aprendizaje, fundamental en la formación de individuos y sociedades. Su análisis no
                    puede limitarse a sus funciones tradicionales, como la transmisión de conocimientos o
                    la preparación para el mercado laboral. Es imprescindible examinar cómo se configuran
                    los sujetos en su interior y cómo las diversas presiones sociales modelan actitudes y
                    disposiciones a lo largo del tiempo (Dubet &amp; Martuccelli, 1996). En este marco, la
                    subjetividad se entiende como un proceso dinámico que, siguiendo a Deleuze (1989),
                    consiste en &quot;plegar&quot; lo externo para construir un sentido interno. Este proceso está
                    mediado por agentes socializadores como la familia, la escuela, las relaciones sociales y
                    los medios de comunicación, todos ellos en constante transformación.
                </p>
                <p class="parrafos">
                    Así, este camino se transforma continuamente en función de las condiciones históricas,
                    sociales y culturales, mediado por la interacción con agentes socializadores como la
                    familia, la escuela, las relaciones sociales y los medios de comunicación; entidades que
                    se han transformado a lo largo del tiempo. En esta línea, Foucault (1991) subraya que
                    las relaciones de poder atraviesan las estructuras sociales, regulando las experiencias
                    individuales dentro de marcos específicos. Por su parte, Rasconan (2015) identifica una
                    &quot;subjetividad de época&quot; caracterizada por la hegemonía de valores económicos, que

                    desafían a las instituciones educativas a desarrollar alternativas inclusivas y
                    democráticas.
                </p>
                <p class="parrafos">
                    Por ello, las instituciones educativas no solo transmiten saberes, sino que también
                    actúan como dispositivos de normalización y regulación social. En este sentido,
                    Álvarez-Uría (1999) destaca que las instituciones educativas han sido históricamente
                    dispositivos clave en este proceso, no solo por transmitir saberes, sino también por
                    establecer marcos de normalización y regulación social. Asimismo, Dubet y Martuccelli
                    (1996) subrayan que la institución escolar fomenta actitudes, disposiciones y
                    capacidades críticas; sin embargo, este proceso es diverso y heterogéneo, ya que los
                    estudiantes, como actores activos, interpretan y negocian las enseñanzas en función de
                    sus propios contextos y experiencias. De este modo, la subjetividad se configura como
                    una amalgama de aprendizajes, emociones y vivencias que permiten a los individuos no
                    solo interiorizar lo aprehendido sino también criticarlo o reinterpretarlo.
                </p>
                <p class="parrafos">
                    La masificación y diversificación de la educación han complejizado las dinámicas
                    escolares. Los estudiantes no solo aspiran a certificaciones académicas, sino que
                    también construyen relaciones, cultivan su identidad personal y navegan un entorno
                    escolar diverso. Sin embargo, el acceso desigual a estos procesos refleja las profundas
                    inequidades estructurales que persisten en las sociedades contemporáneas. Este contexto
                    exige que las escuelas se conviertan en espacios inclusivos que promuevan la equidad y
                    reconozcan a los estudiantes como sujetos de derecho, tal como enfatizan Levy (2008) y
                    Korinfeld (2007). Un enfoque inclusivo resulta esencial para abordar los mecanismos de
                    discriminación y desigualdad que, a menudo, operan de manera implícita en las
                    instituciones educativas.
                </p>
                <p class="parrafos">
                    Además, la dimensión emocional desempeña un papel fundamental en la experiencia
                    escolar, dado que las relaciones interpersonales, los fracasos y los logros impactan
                    significativamente en la formación de la subjetividad. La escuela, como primer espacio
                    social relevante fuera del núcleo familiar, no solo proporciona aprendizajes académicos,
                    sino que también expone a los estudiantes a desafíos y oportunidades que moldean su
                    desarrollo personal. Como señala Florio (2010), las experiencias escolares están
                    profundamente influenciadas por las circunstancias sociales, culturales y emocionales
                    de cada individuo, lo que refuerza la necesidad de considerar estas variables en
                    cualquier análisis educativo.
                </p>
                <p class="parrafos">
                    Las instituciones educativas trascienden su dimensión física para constituirse como
                    espacios de significado simbólico, donde florecen conexiones interpersonales que tejen
                    una red emocional significativa. El proceso educativo va más allá de simplemente
                    transmitir conocimientos académicos o elementos culturales. Durante la vida escolar se
                    construyen conexiones humanas profundas, y esta experiencia formativa imprime
                    marcas duraderas en nuestro ser; cada momento y emoción vividos en este entorno
                    moldean nuestra estructura emocional: &quot;La escuela deja huellas afectivas. Somos en
                    gran medida el resultado de la mirada escolar que se interioriza como espejo&quot; (Kaplan,
                    2022a, p. 12). En consecuencia, resulta fundamental desarrollar una comprensión
                    teórica de la dimensión emocional en el ámbito educativo, con el fin de entender las
                    relaciones que se establecen entre individuos y generaciones dentro del contexto
                    escolar, reconociendo así el papel fundamental que juega la afectividad en el desarrollo
                    de los procesos educativos y las metodologías de enseñanza.
                </p>
                <p class="parrafos">
                    Es decir, en otras palabras, la autora mencionada enfatiza que, en la escuela, cada
                    experiencia vivida en este entorno genera marcas duraderas que configuran el desarrollo
                    de los individuos. Por ello, es esencial desarrollar una comprensión teórica de la
                    dimensión emocional en la educación, reconociendo su papel en las relaciones
                    intergeneracionales y en la formación de subjetividades.
                </p>
                <p class="parrafos">
                    En este marco, la escuela contemporánea enfrenta una crisis que Dubet y Martuccelli
                    (1996) describen como el fin de la concepción moderna de la institución escolar. Esta
                    crisis refleja la incapacidad de la escuela para cumplir con los ideales igualitarios que la
                    definieron en el pasado y para mantener un modelo homogéneo de socialización. Según
                    estos autores, la experiencia escolar ya no puede entenderse como un sistema regulado
                    de roles, sino que debe analizarse desde la perspectiva de las experiencias vividas por
                    los estudiantes, ya que la subjetividad que emerge en este contexto es producto tanto de
                    lo que la escuela intenta fabricar como de lo que escapa a su control.
                </p>
                <p class="parrafos">
                    En este entramado de subjetividades y crisis institucionales, la escuela no actúa de
                        manera aislada. Forma parte de un ecosistema más amplio que incluye la familia, el
                        entorno comunitario y las estructuras socioeconómicas. Estas interacciones determinan
                        las oportunidades y limitaciones que enfrentan los estudiantes en su trayectoria
                        educativa. Por lo tanto, lo que &quot;fabrica&quot; la escuela no se limita a un conjunto de
                        conocimientos y habilidades técnicas, sino a sujetos capaces de interpretar y transformar
                        su realidad. Álvarez-Uría (1999) afirma que la escuela opera como un dispositivo
                        histórico-político que no solo reproduce estructuras sociales, sino que también tiene el
                        potencial de cuestionarlas y transformarlas.
                </p>
                <p class="parrafos">
                    Como conclusión, puede decirse que las transformaciones en las instituciones escolares
                    contemporáneas evidencian la necesidad de repensar la educación como un proceso
                    vivo de construcción identitaria y social. Este proceso debe adaptarse a las demandas de
                    una sociedad en constante cambio, promoviendo una educación inclusiva que valore las

                    diversas experiencias y trayectorias de los estudiantes. Solo así será posible enfrentar
                    los desafíos que plantea la formación de nuevas subjetividades en un mundo cada vez
                    más desigual y complejo.
                </p>
                <p class="parrafos">
                    En las instituciones escolares contemporáneas, la formación de subjetividades
                    trasciende la mera transmisión de conocimientos. La escuela se configura como un
                    espacio donde se tejen complejas relaciones entre los estudiantes, sus contextos sociales
                    y las estructuras de poder que los atraviesan. Estas dinámicas no solo moldean actitudes
                    y capacidades, sino que también fomentan procesos de reflexión y crítica frente a las
                    inequidades estructurales y las lógicas de mercado que afectan a la educación. En este
                    sentido, es imprescindible que las escuelas se transformen en espacios inclusivos y
                    democráticos, donde se reconozcan las trayectorias y experiencias diversas de los
                    estudiantes como elementos centrales de su identidad y desarrollo.
                </p>
                <p class="parrafos">
                    El desafío de repensar la educación en una sociedad cada vez más desigual y compleja
                    radica en integrar las dimensiones académicas, emocionales y sociales de manera
                    armónica. Solo a través de una educación viva, que valore tanto las diferencias como las
                    potencialidades de los individuos, será posible construir sujetos capaces de interpretar y
                    transformar su realidad. En este proceso, las instituciones escolares deben asumir un rol
                    crítico y propositivo, que no solo reproduzca estructuras existentes, sino que también
                    ofrezca herramientas para cuestionarlas y superarlas, contribuyendo así al desarrollo de
                    una sociedad más equitativa y reflexiva.
                </p>
                <h2>Referencias</h2>
                <p class="refe">
Álvarez-Uría, F. (1999). Escuela y subjetividad. Cuadernos de Pedagogía, (281), 65-68.
<br>
Deleuze, G. (1989). La lógica del sentido.
<br>
Dubet, F., &amp; Martuccelli, D. (1996). En la escuela. Sociología de la experiencia
escolar.
<br>
Florio, A. (2010). Pensar la educación en contexto de encierro: primeras
aproximaciones a un campo de tensión. Buenos Aires.
<br>
Foucault, M. (1991). Microfísica del poder.
<br>
Korinfeld, D. (2007). La inclusión educativa en el siglo XXI.
<br>
Levy, A. (2008). Educación inclusiva y democracia.
<br>
Rasconan, M. (2015). Subjetividad y educación: tensiones contemporáneas.
<br>
Video: Caminos de tiza. (2014, 5 de abril). La escuela y los procesos de subjetivación.
Recuperado de YouTube: https://youtu.be/8CziLrN7GjI
Kaplan, C. V. (2022a). La afectividad en la escuela. Paidós.
                </p>
        </header>

    </article>
    
</div>

    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C232.78,193.92 368.22,-89.28 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
        style="stroke: none; fill: #ff695c;"></path>
    </svg>
</div>


<footer id="footer">
    <div class="footer-content">
        <!-- Sección de Copyright -->
        
        <!-- Sección de Información de Contacto -->
        <div class="contact-info" id="contacto">
            <a href="/templates/contacto.html" class="contact-link">Contacto</a>
        </div>
        <p>&copy; 2024 <span class="footer-brand">Continente Sociologico</span>. Todos los derechos reservados.</p>
        <!-- Sección de Redes Sociales -->
        <div class="social-icons">
            <!-- Enlace a Instagram -->
            <a href="https://www.instagram.com/continentesociologico" target="_blank" aria-label="Instagram" class="social-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo" class="social-icon">
            </a>
        </div>
    </div>
</footer>


</body>
</html>