<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Continente sociologico</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../css/trivia.css">
</head>
<body>
    <nav class="navbar">
        
        <div class="logo">
            <a href="/index.html">
            <img src="/media/logo.png">
            </a>
        </div>

        <div class="nav-items">
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-regular fa-newspaper"></i>Entrevistas
                </button>
                <div class="dropdown-content">
                    <a href="/templates/ruthsautu.html">Ruth Sautu</a>
                    <a href="/templates/cantazaro.html">Gisela Catanzaro</a>
                    <a href="/templates/aliciagutierrez.html">Alicia Gutiérrez</a>
                    <a href="/templates/alliaud.html">Andrea Alliaud</a>
                    <a href="/templates/aguilera.html">Antonio Aguilera Ontiveros</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-video"></i>Videos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/bourdieu.html">Alvaro García Linera</a>
                    <a href="/templates/feminismo.html">Feminismo</a>
                    <a href="/templates/pioneras.html">Pioneras</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-list-ul"></i>Encuesta y Trivias
                </button>
                <div class="dropdown-content">
                    <a href="/templates/encuesta.html">Encuesta</a>
                    <a href="/templates/trivia.html">Trivia</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-person-dress"></i>Sociólogas
                </button>
                <div class="dropdown-content">
                    <a href="/templates/sociologas.html">De ayer y hoy</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-book"></i>Artículos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/articulo1.html">S. de la Educación</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fa-solid fa-diagram-project"></i>Proyectos
                </button>
                <div class="dropdown-content">
                    <a href="/templates/proyecto.html">Observatorio de Género</a>
                </div>
            </div>
        </div>

       
    </nav>
    <header class="hero">
        <div class="textos-hero">
            <a style="background: 0;">
                <h1>Continente Sociologico</h1>
            </a>
            <a class="btn btn- btn-outline-primary" href="#contacto">Contactanos</a>
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C232.78,193.92 368.22,-89.28 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </header>


    <div class="div3">
        <form id="triviaForm">
            <h2>Trivia de Sociología</h2>
            <div class="pregunta">
                <strong> <p>1. ¿Qué autor intentó tratar a las problemáticas sociales de similar manera a la que se estudian fenómenos naturales?</p></strong>
                <label><input type="radio" name="pregunta1" value="a"> Max Weber</label><br>
                <label><input type="radio" name="pregunta1" value="b"> Karl Marx</label><br>
                <label><input type="radio" name="pregunta1" value="c"> Émile Durkheim</label><br>
            </div>
    
            <div class="pregunta">
                <strong><p>2. ¿Qué autor distinguido reformuló la palabra: “campo”?</p></strong>
                <label><input type="radio" name="pregunta2" value="a"> Talcott Parsons</label><br>
                <label><input type="radio" name="pregunta2" value="b"> Pierre Bourdieu</label><br>
                <label><input type="radio" name="pregunta2" value="c"> Louise Althusser</label><br>
            </div>
    
            <div class="pregunta">
                <strong><p>3. ¿Quién realizó esta conceptualización: “Las clases sociales significan para el marxismo en único y mismo movimiento, contradicciones y luchas de clases”?</p></strong>
                <label><input type="radio" name="pregunta3" value="a"> Karl Marx</label><br>
                <label><input type="radio" name="pregunta3" value="b"> Erik O. Wright</label><br>
                <label><input type="radio" name="pregunta3" value="c"> Nicos Poulantzas</label><br>
            </div>
    
            <input type="submit" value="Verificar Respuestas">
        </form>
    
        <div id="resultado"></div>
    </div>
    
</div>
<script src="/js/trivia.js"></script>

    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C232.78,193.92 368.22,-89.28 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
        style="stroke: none; fill: #ff695c;"></path>
    </svg>
</div>


<footer id="footer">
    <div class="footer-content">
        <!-- Sección de Copyright -->
        
        <!-- Sección de Información de Contacto -->
        <div class="contact-info" id="contacto">
            <a href="/templates/contacto.html" class="contact-link">Contacto</a>
        </div>
        <p>&copy; 2024 <span class="footer-brand">Continente Sociologico</span>. Todos los derechos reservados.</p>
        <!-- Sección de Redes Sociales -->
        <div class="social-icons">
            <!-- Enlace a Instagram -->
            <a href="https://www.instagram.com/continentesociologico" target="_blank" aria-label="Instagram" class="social-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo" class="social-icon">
            </a>
        </div>
    </div>
</footer>


    <script src="../js/autores.js"></script>
</body>
</html>